In [2]:
import pandas as pd
df=pd.read_csv("EmployeeAttrition.csv")

In [3]:
df.shape

(1470, 35)

In [4]:
#print names of the columns
df.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [7]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

Test & Train

In [5]:
from sklearn.model_selection import train_test_split

In [8]:
x= df.drop('Attrition',axis=1)
y=df.loc[:,'Attrition']

In [9]:
x.shape ,y.shape

((1470, 34), (1470,))

In [12]:
x_train,x_test,y_train,y_test =train_test_split(x,y,test_size=0.3,random_state=7,
                                                stratify=y)

In [14]:
x_train.shape,x_test.shape,y_test.shape,y_train.shape

((1029, 34), (441, 34), (441,), (1029,))

Train the preprocessing model

In [15]:
df.isna()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1466,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1467,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1468,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1469,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [16]:
df.isna().sum(axis=0)

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [17]:
df.nunique()==1   #

Age                         False
Attrition                   False
BusinessTravel              False
DailyRate                   False
Department                  False
DistanceFromHome            False
Education                   False
EducationField              False
EmployeeCount                True
EmployeeNumber              False
EnvironmentSatisfaction     False
Gender                      False
HourlyRate                  False
JobInvolvement              False
JobLevel                    False
JobRole                     False
JobSatisfaction             False
MaritalStatus               False
MonthlyIncome               False
MonthlyRate                 False
NumCompaniesWorked          False
Over18                       True
OverTime                    False
PercentSalaryHike           False
PerformanceRating           False
RelationshipSatisfaction    False
StandardHours                True
StockOptionLevel            False
TotalWorkingYears           False
TrainingTimesLastYear       False
WorkLifeBalance             False
YearsAtCompany              False
YearsInCurrentRole          False
YearsSinceLastPromotion     False
YearsWithCurrManager        False
dtype: bool

In [20]:
x_train.columns[x_train.nunique()==1]

Index(['EmployeeCount', 'Over18', 'StandardHours'], dtype='object')

In [18]:
df.columns[df.nunique()==1]

Index(['EmployeeCount', 'Over18', 'StandardHours'], dtype='object')

In [35]:
df.drop(columns=df.columns[df.nunique==1])

<ipython-input-35-f93d55c8551b>:1: FutureWarning: Support for multi-dimensional indexing (e.g. `obj[:, None]`) is deprecated and will be removed in a future version.  Convert to a numpy array before indexing instead.
  df.drop(columns=df.columns[df.nunique==1])

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [22]:
x_train.drop(columns=x_train.columns[x_train.nunique()==1],inplace=True)

In [23]:
x_train.shape

(1029, 31)

In [24]:
valid_columns=x_train.columns

In [25]:
x_test=x_test.loc[:,valid_columns]

In [26]:
valid_columns.shape

(31,)

remove repeated rows

In [27]:
x_train.shape

(1029, 31)

#short cut -> apply label enoding and hot encoding

In [28]:
x_train.drop_duplicates(inplace=True)

In [29]:
x_train.dtypes

Age                          int64
BusinessTravel              object
DailyRate                    int64
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeNumber               int64
EnvironmentSatisfaction      int64
Gender                      object
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
MonthlyIncome                int64
MonthlyRate                  int64
NumCompaniesWorked           int64
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

In [30]:
x_train_ohe=pd.get_dummies(x_train)  #create dummy dataframe of x_Train

In [31]:
x_train_ohe.shape

(1029, 52)

In [33]:
x_test_ohe=pd.get_dummies(x_test)

In [34]:
x_test_ohe.shape

(441, 52)

In [36]:
x_train_ohe.median()

Age                                     35.0
DailyRate                              793.0
DistanceFromHome                         7.0
Education                                3.0
EmployeeNumber                        1024.0
EnvironmentSatisfaction                  3.0
HourlyRate                              66.0
JobInvolvement                           3.0
JobLevel                                 2.0
JobSatisfaction                          3.0
MonthlyIncome                         4855.0
MonthlyRate                          14369.0
NumCompaniesWorked                       2.0
PercentSalaryHike                       14.0
PerformanceRating                        3.0
RelationshipSatisfaction                 3.0
StockOptionLevel                         1.0
TotalWorkingYears                       10.0
TrainingTimesLastYear                    3.0
WorkLifeBalance                          3.0
YearsAtCompany                           5.0
YearsInCurrentRole                       3.0
YearsSinceLastPromotion                  1.0
YearsWithCurrManager                     3.0
BusinessTravel_Non-Travel                0.0
BusinessTravel_Travel_Frequently         0.0
BusinessTravel_Travel_Rarely             1.0
Department_Human Resources               0.0
Department_Research & Development        1.0
Department_Sales                         0.0
EducationField_Human Resources           0.0
EducationField_Life Sciences             0.0
EducationField_Marketing                 0.0
EducationField_Medical                   0.0
EducationField_Other                     0.0
EducationField_Technical Degree          0.0
Gender_Female                            0.0
Gender_Male                              1.0
JobRole_Healthcare Representative        0.0
JobRole_Human Resources                  0.0
JobRole_Laboratory Technician            0.0
JobRole_Manager                          0.0
JobRole_Manufacturing Director           0.0
JobRole_Research Director                0.0
JobRole_Research Scientist               0.0
JobRole_Sales Executive                  0.0
JobRole_Sales Representative             0.0
MaritalStatus_Divorced                   0.0
MaritalStatus_Married                    0.0
MaritalStatus_Single                     0.0
OverTime_No                              1.0
OverTime_Yes                             0.0
dtype: float64

In [37]:
x_train_ohe.mean()

Age                                     36.781341
DailyRate                              797.472303
DistanceFromHome                         8.915452
Education                                2.921283
EmployeeNumber                        1025.892128
EnvironmentSatisfaction                  2.728863
HourlyRate                              66.216715
JobInvolvement                           2.719145
JobLevel                                 2.040816
JobSatisfaction                          2.719145
MonthlyIncome                         6397.555879
MonthlyRate                          14373.809524
NumCompaniesWorked                       2.607386
PercentSalaryHike                       15.152575
PerformanceRating                        3.150632
RelationshipSatisfaction                 2.737609
StockOptionLevel                         0.829932
TotalWorkingYears                       11.134111
TrainingTimesLastYear                    2.801749
WorkLifeBalance                          2.742468
YearsAtCompany                           6.890185
YearsInCurrentRole                       4.178814
YearsSinceLastPromotion                  2.139942
YearsWithCurrManager                     4.058309
BusinessTravel_Non-Travel                0.094266
BusinessTravel_Travel_Frequently         0.196307
BusinessTravel_Travel_Rarely             0.709427
Department_Human Resources               0.046647
Department_Research & Development        0.647230
Department_Sales                         0.306122
EducationField_Human Resources           0.021380
EducationField_Life Sciences             0.406220
EducationField_Marketing                 0.113703
EducationField_Medical                   0.314869
EducationField_Other                     0.058309
EducationField_Technical Degree          0.085520
Gender_Female                            0.399417
Gender_Male                              0.600583
JobRole_Healthcare Representative        0.084548
JobRole_Human Resources                  0.038873
JobRole_Laboratory Technician            0.172983
JobRole_Manager                          0.061224
JobRole_Manufacturing Director           0.098154
JobRole_Research Director                0.060253
JobRole_Research Scientist               0.200194
JobRole_Sales Executive                  0.227405
JobRole_Sales Representative             0.056365
MaritalStatus_Divorced                   0.239067
MaritalStatus_Married                    0.453839
MaritalStatus_Single                     0.307094
OverTime_No                              0.724976
OverTime_Yes                             0.275024
dtype: float64

In [38]:
x_train_ohe.mode()

<bound method DataFrame.mode of       Age  DailyRate  DistanceFromHome  Education  EmployeeNumber  \
715    33        827                 1          4             998
826    38        433                 1          3            1152
432    34       1303                 2          4             579
42     26       1357                25          3              55
851    56        718                 4          4            1191
...   ...        ...               ...        ...             ...
588    50        691                 2          3             815
8      38        216                23          3              12
880    32        116                13          3            1234
1249   29        428                 9          3            1752
1171   40       1329                 7          3            1649

      EnvironmentSatisfaction  HourlyRate  JobInvolvement  JobLevel  \
715                         3          84               4         2
826                         3          37               4         1
432                         4          62               2         1
42                          1          48               1         1
851                         4          92               3         5
...                       ...         ...             ...       ...
588                         3          64               3         4
8                           4          44               2         3
880                         3          77               2         1
1249                        2          52               1         1
1171                        1          73               3         1

      JobSatisfaction  ...  JobRole_Manufacturing Director  \
715                 2  ...                               0
826                 3  ...                               0
432                 3  ...                               0
42                  3  ...                               0
851                 1  ...                               0
...               ...  ...                             ...
588                 3  ...                               0
8                   3  ...                               1
880                 2  ...                               0
1249                2  ...                               0
1171                1  ...                               0

      JobRole_Research Director  JobRole_Research Scientist  \
715                           0                           0
826                           0                           0
432                           0                           1
42                            0                           0
851                           0                           0
...                         ...                         ...
588                           1                           0
8                             0                           0
880                           0                           0
1249                          0                           0
1171                          0                           0

      JobRole_Sales Executive  JobRole_Sales Representative  \
715                         0                             0
826                         0                             0
432                         0                             0
42                          0                             0
851                         0                             0
...                       ...                           ...
588                         0                             0
8                           0                             0
880                         0                             0
1249                        0                             1
1171                        0                             0

      MaritalStatus_Divorced  MaritalStatus_Married  MaritalStatus_Single  \
715                        0                      1                     0
826                        0                      1                     0
432                        1                      0                     0
42                         0                      0                     1
851                        1                      0                     0
...                      ...                    ...                   ...
588                        0                      1                     0
8                          0                      0                     1
880                        0                      1                     0
1249                       0                      0                     1
1171                       0                      0                     1

      OverTime_No  OverTime_Yes
715             0             1
826             1             0
432             1             0
42              1             0
851             1             0
...           ...           ...
588             1             0
8               1             0
880             1             0
1249            1             0
1171            0             1

[1029 rows x 52 columns]>

apply standard scalar on training & test data
* standard scalar
*min max scalar
* robust scalar

In [39]:
cont_columns=x_train_ohe.columns[x_train_ohe.nunique()>15]

In [41]:
cont_column_mean=x_train_ohe.loc[:,cont_columns].mean()
cont_column_std=x_train_ohe.loc[:,cont_columns].std()

format the target column

In [43]:
y_train

715      No
826      No
432      No
42      Yes
851      No
       ...
588      No
8        No
880      No
1249    Yes
1171    Yes
Name: Attrition, Length: 1029, dtype: object

In [ ]:
y_train[y_train=='Yes']=1
y_train[y_train=='No']=0

In [44]:
y_train

715      No
826      No
432      No
42      Yes
851      No
       ...
588      No
8        No
880      No
1249    Yes
1171    Yes
Name: Attrition, Length: 1029, dtype: object