In [11]:
aList = [100, 200, 300, 400, 500]
print(aList[::-1])

[500, 400, 300, 200, 100]

In [21]:
"take a list 'l1' of even nos between 150 to 250. Print its length."
"Then create another list 'l2' using 'l1', containing only nos divisible by 4 from 'l1'."
l1=[]
for i in range(150,200,2):
    l1.append(i) 
print(l1)
l2=[]
for i in l1:
    if(i%4==0):
        l2.append(i)
print(l2)

[150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198]
[152, 156, 160, 164, 168, 172, 176, 180, 184, 188, 192, 196]

In [45]:
list1 = [5, 6,7]
list2 = [0, 1]
l3=[]
for i in list1:
    for j in list2:
        print(i,j,sep="",end=" ")

50 51 60 61 70 71

In [ ]:
"""" Add item 7000 after 6000 in the following Python List
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
output:
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]"""

In [46]:
l1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
l1[2][2].append(7000)
print(l1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [53]:
list1 = [5, 10, 15, 20, 25, 50, 20]
list1.remove(20)
print(list1)
list1.insert(3,200)
print(list1)

[5, 10, 15, 25, 50, 20]
[5, 10, 15, 200, 25, 50, 20]

In [68]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
list2.reverse()
for i in range(len(list1)):
    print(list1[i],list2[i])

10 400
20 300
30 200
40 100

In [79]:
list1 = ["Ashish", "", "Atharva", "Amit", "", "Revati"]
for i in list1:
    if i=="":
        list1.remove("")
print(list1)

['Ashish', 'Atharva', 'Amit', 'Revati']

In [73]:

list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
subList = ["h", "i", "j"]
list1[2][1][2].extend(subList)
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [80]:
list1 = [5, 20, 15, 20, 25, 50, 20]
for i in list1:
    if i==20:
        list1.remove(i)
print(list1)

[5, 15, 25, 50]

In [ ]:

import math
list1 = [1,4,9,16,25,36,49]
l2=[]
for i in list1:
  l2.append(math.sqrt(i))
print(l2)