In [3]:
sampleSet = {"Yellow", "Orange", "Black"}
sampleList = ["Blue", "Green", "Red","Yellow","Orange"]
for i in sampleList:
     sampleSet.add(i)
              
sampleSet

{'Black', 'Blue', 'Green', 'Orange', 'Red', 'Yellow'}

In [6]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1 & set2

{30, 40, 50}

In [26]:
set1 = {10, 20, 30, 40, 50,25}
set2 = {30, 40, 50, 60, 70,100}
s1 = set1|set2
s2 = set1&set2
s1-s2

{10, 20, 25, 60, 70, 100}

In [36]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
a = set1-set2 
b = set2-set1
a |=b
a

{10, 20, 60, 70}

In [37]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1|=set2

In [2]:
set1.update(set2)

NameError: name 'set1' is not defined

In [48]:
v = input("enter mesaage -")
v = v.split()
s=set()
for i in v:
    s.add(i)
s

enter mesaage -hii there

{' ', 'e', 'h', 'i', 'r', 't'}