In [3]:
import pandas as pd

Write a function. Given list of strings, find unique values and return them

In [5]:
str1=['amit','tejas','vivek','omkar','goldy','omkar','purven','tejas','amit']
unique=pd.Series(str1).unique()
unique

array(['amit', 'tejas', 'vivek', 'omkar', 'goldy', 'purven'], dtype=object)

Write a function. Given list of numbers
find mean, median and mode

In [12]:
list1=[1,2,3,4,5,6,7,8,6,9,7,9,6,8,7,4,3,0]
l1=pd.Series(list1)
l1
print("mean",l1.mean())
print("median",l1.median())
print("mode",l1.mode()[0])

mean 5.277777777777778
median 6.0
mode 6